<div class="main">
    <div class="header">
        <div class="title" fxFlex  fxLayout="row" fxLayoutAlign="start start">
         
          <span>
            <button (click)="cancel()" mat-icon-button align="top" >
              <mat-icon>arrow_back</mat-icon>
            </button>
            {{'NAV.STOCK.SUBTITLES.DISPATCHDETAIL'  | translate}}
          </span>
        </div>
         
     </div>
    <div  class="center card">
      <div class="mx-12" fxFlex="20%" fxLayout="column" fxLayoutAlign="end end">
        <button
        matTooltipPosition="above" mat-raised-button color="primary"
        (click)="help()"
        >
        <mat-icon>warning</mat-icon>
        {{'GENERALACTIONS.HELP' | translate}}
          </button>  
      </div>  
      <div fxFlex="100%"  fxLayout="row wrap" fxLayoutAlign="space-between"> 
       
        
        <div fxFlex="20%"  >
          <form [formGroup]="formControl">
            <mat-form-field appearance="outline" class="ml-8"  *ngIf="validateState()">
                <mat-label>{{'DISPATCH.CODE' | translate}}</mat-label>
                <input matInput formControlName="code"  #input autocomplete="off">            
              </mat-form-field>
            <ng-container *ngIf="formControl.controls.code.touched">       
              <mat-error *ngIf="formControl.controls.code.hasError('maxlength')">{{'ERROR-MESSAGE.MAXLENGTH' | translate}}</mat-error>
              <mat-error *ngIf="formControl.controls.code.hasError('pattern')">{{'ERROR-MESSAGE.INVALIDCHAR' | translate}}</mat-error>
              <ng-content></ng-content>
            </ng-container>
          </form>
        </div>
        <div  *ngIf="validateState() || showButton" >
          <button class="margin-right"
          matTooltipPosition="above" mat-raised-button color="primary"
          (click)="update()">{{'GENERALACTIONS.SAVE' | translate}}
           </button>
           <button  class="margin-right" [disabled]="canConfirm()"
          matTooltipPosition="above" mat-raised-button color="primary"
          (click)="confirm()">{{'GENERALACTIONS.CONFIRM' | translate}}
           </button>
        </div>
        <div fxFlex="100%"  fxLayout="column">
          <mat-table #table  [dataSource]="dataSource"          
          class="centerTable">                           


            <ng-container matColumnDef="CODE">
                <mat-header-cell *matHeaderCellDef>
                    {{'STOCK.CODE' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let stock">
                    <p class="text-truncate" >{{stock.code}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="NAME">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'STOCK.NAME' | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let stock">
                <p class="text-truncate">{{stock.name}}</p>
            </mat-cell>
           </ng-container> 
            <ng-container matColumnDef="MODEL">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'STOCK.MODEL' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let stock">
                    <p class="text-truncate">{{stock.model}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="BRAND">
                <mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{'STOCK.BRAND' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let stock">
                    <p class="text-truncate">{{stock.brand}}</p>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="UNITY">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'STOCK.UNITY' | translate}}
              </mat-header-cell>
              <mat-cell *matCellDef="let stock">
                <p class="text-truncate">{{stock.unity}}</p>
            </mat-cell>
           </ng-container>  
            <ng-container  matColumnDef="ACTIONS">
                <mat-header-cell  *matHeaderCellDef class="cell50-w"></mat-header-cell>
                <mat-cell  *matCellDef="let stock" 
                fxLayout="row" fxLayoutAlign="flex-start center"
                class="cell50-w">
                  
                    <button *ngIf="canEdit() && stock.count > 0 && validateState()"  mat-icon-button color="primary" fxFlex="0 1 auto"
                    matTooltipPosition="above" (click)="removeStock(stock.code)"
                  >
                    <mat-icon class="mx-8" color="primary"  >remove</mat-icon>
                </button>
                <span *ngIf="canEdit()">{{stock.count}}</span>                     
                <button *ngIf="canEdit()  && stock.count > 0 && validateState()" mat-icon-button color="primary" fxFlex="0 1 auto"
                matTooltipPosition="above" (click)="addStock(stock.code)"
              >
                <mat-icon class="mx-8" color="primary"  >add</mat-icon>
              </button>   
             
                </mat-cell>
            </ng-container>
            <ng-container  matColumnDef="CHECK">
              <mat-header-cell  *matHeaderCellDef class="cell50-w"></mat-header-cell>
              <mat-cell  *matCellDef="let stock"> 
              <div *ngIf="canEdit()">
                <img  fxFlex="15%" [src]="stock.count == stock.unity ? checkOk : checkNotOk">
              </div>
            </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>

            <mat-row *matRowDef="let stock; columns: displayedColumns;"
                [class.user-pointer]="false" matRipple>
            </mat-row>

        </mat-table>
        <!--END TABLE-->
        </div>
      </div>
  </div>
  