<!--<div class="modal-header">
        <h4 class="modal-title"></h4>
          <button type="button" class="close" aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      
        </div>
        <div class="modal-footer">
                <button mat-button>Cancel</button>
                <button mat-raised-button color="primary">Confirm</button>
        </div>-->
        <h2 mat-dialog-title>{{this._data._title}}</h2>
        <div class="mat-typography">
            <h3>{{this._data._text}}</h3>
        </div>
        <div align="center">        
          <button mat-raised-button mat-dialog-close color="primary">Ok</button>
        </div>