<div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
    <div fxFlex="100%" fxLayout="column" class="success-checkmark">
        <div class="check-icon">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
        </div>
    </div>
    <di fxFlex="100%"fxLayout="column" fxLayoutAlign="center center">
     <img fxFlex="70%" width="220px"  height="150px" src="assets/ok_check.png">
    </di>
</div>