<div fxFlex="100%" fxLayout="row wrap">
  <div mat-menu-item fxFlex="100%" class="pointer"
  fxLayoutAlign="center center" fxFlex="100%" fxLayout="row"
   (click)="cambiarLenguaje('es')">
    <img class="mr-12" fxFlex="25%" width="25px"  height="25px" src="assets/spain.png">
    <span>
      es
   </span>
  </div>
  <div mat-menu-item class="pointer"
  fxLayoutAlign="center center" fxFlex="100%" fxLayout="row"
   (click)="cambiarLenguaje('en')">
    <img class="mr-12" fxFlex="25%" width="25px"  height="35px" src="assets/usa.png"> 
    <span>
   en
   </span>
  </div>
  
  
  
</div>
